{% extends "base.html" %}

{% load static %}

{% block gallery-nav-state %}active{% endblock %}

{% block content %}
    <!-- Featured Post -->
    <article class="post featured">
        <header class="major">
            <h1><a href="#">Image Gallery</a></h1>
            <p>Here are some recent telescope images affected by satellite trails.<br />
               Click on an image for a larger view, basic metadata, and a download option.
            </p>
        </header>
    </article>
    <div id="table_content">
        {% include "gallery_table.html" %}
    </div>
{% endblock %}

{% block content.scripts.extended %}
<script src="{% static '/assets/js/pagination_gallery.js' %}"></script>
{% endblock %}
