{% load static %}
<!--
         Posts
         Loads them from the database and currently it is hard coded to display 12 images per page.
    -->
<div class="pagination">
    {% for i in num_of_page %}
        <!--{{ page }}-->
        <a id="pagenum_{{ i }}" onclick="get_images({{ i }})"
           class="page pagenum {% if page == i %} active {% endif %}">{{ i }}</a>
    {% endfor %}
</div>
<section id="image_gallery">
    {% for image in data %}
        <div class="gallery_item">
            <a href="/gallery/image?{{ image.wcs_id }}">
                <img src="{% get_media_prefix %}{{ image.small }}" class="gallery_images" alt=”{{ image.small }}”
                     id=”showSimilarInPopup”>
            </a>
        </div>
    {% endfor %}
</section>
<br>
<!-- Footer -->
<footer>
    <div class="pagination">
        {% for i in num_of_page %}
            <!--{{ page }}-->
            <a id="pagenum_{{ i }}" onclick="get_images({{ i }})"
               class="page pagenum {% if page == i %} active {% endif %}">{{ i }}</a>
        {% endfor %}
    </div>
</footer>