{% extends "base.html" %}

{% load static %}

{% block gallery-nav-state %}active{% endblock %}

{% block content %}
    <!-- Featured Post -->
    <article class="post featured">
        <header class="major">
            <span class="date">April 25, 2021</span>
            <h2><a href="#">WELCOME TO THE GALLERY</a></h2>
            <p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br/>
                facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br/>
                amet nullam sed etiam veroeros.</p>
        </header>
        <a href="#" class="image main"><img src="{% static 'images/starlink.jpg' %}" alt=""/></a>
        <ul class="actions special">
            <li><a href="#" class="button large">Full Frame</a></li>
        </ul>
    </article>

    <!--
         Posts
         All these values These should probably be in a database, and there should be a view that retrieves them
         and creates the tags.
    -->
    <section id="image_gallery">
        {% for image in data %}
            <div class="gallery_item">
                <a href="/image?{{ image.id }}">
                    <img src="{% get_media_prefix %}{{ image.name }}" width="300" alt=”{{ image.name }}”
                         id=”showSimilarInPopup”>
                    <div class=”caption”>
                        <span class="date">{{ image.date }}</span>
                        <span>{{ image.caption }}</span>
                    </div>
                </a>

                <!--<ul class="actions special">
                    <li><a href="{% get_media_prefix %}{{ image.name }}" class="button">Full Frame</a></li>
                </ul>-->
            </div>
        {% endfor %}
    </section>

    <!-- Footer -->
    <footer>
        <div class="pagination">
            <!--<a href="#" class="previous">Prev</a>-->
            {% for i in num_of_page %}
                <a id="pagenum_{{ i }}" onclick="get_images({{ i }})" class="page pagenum {% if page == i %} active {% endif %}">{{ i }}</a>
            {% endfor %}
        </div>
    </footer>
{% endblock %}

{% block content.scripts.extended %}
<script src="{% static 'assets/js/pagination_gallery.js' %}"></script>
{% endblock %}
