{% extends "base.html" %}
{% load static %}

{% block gallery-nav-state%}active{% endblock %}

{% block content %}
<!-- Featured Post -->
<article class="post featured">
    <header class="major">
		    <span class="date">{{ image_data.datetime_begin}}</span>
    </header>
    <!--TODO: pathing for large image-->
    <a href="#" class="image main"><img src="{% get_media_prefix %}{{ image.large }}" alt="" /></a>
    <h2>Image Information</h2>
    <ul>
        <!-- Insert in here the information you want to show-->
        <!-- Can display any data that is in the metadata for the image-->
        <li class="image_information">Instrument: {{ image_data.instrument }}</li>
        <li class="image_information">Telescope: {{ image_data.telescope }}</li>
        <li class="image_information">Science Program: {{ image_data.science_program }}</li>
    </ul>
    <ul class="actions special">
        <li><a href="INSERT_DOWNLOAD_ADDRESS" class="button large">Download Image</a></li>
    </ul>
</article>
{% endblock %}
