{% load static %}

<div class="uploadform_drop_area" id="uploadform_drop_area">

    <script type="text/javascript">
     var ACCEPTABLE_FILE_TYPES = '{{accept}}';
     var MAX_FILE_SIZE_MB = {{max_file_size_mb}};
    </script>

    <form method="post" enctype="multipart/form-data" action="{{ action }}" class="uploadform_form" novalidate>
        {% csrf_token %}


        {% if file_errors %}
        <div class="alert alert-danger">
        {% else %}
        <div class="alert alert-danger" style="display: none">
        {% endif %}
                <h3>Can not upload following files:</h3>
            <ul class="errorlist h4">
                {% for error in file_errors %}
                <!-- Note the list elements are set in JS as well. -->
                <li><h4>{{ error }}</h4></li>
                {% endfor %}
            </ul>
        </div>

        {% if form.fields|length %}
        <div class="extra_fields">
            {% for field in form %}
                <div class="form-row{% if field.errors %} errors{% endif %} field-{{ field.html_name }}">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="file_list_input">
            <label class="button">
                <input style="display: none;" type="file" name="files[]" accept="{{accept}}" multiple onchange="UploadForm.handleFiles(this.files)">
                <img src="{% static 'assets/icons/cloud-upload-svgrepo-com.svg' %}" alt=" 'upload' %}">
                <h3>Click to select FITS files, or drag and drop them here</h3>
            </label>
        </div>
        <div class="file_list_wrapper" style="display: none;">
            <div class="submit">
                <input type="checkbox" id="copyright-disclaimer" name="copyright-disclaimer">
                <label class="copyright_label" for="copyright-disclaimer" style="">By uploading to Trailblazer, you affirm you have all necessary rights and permission to share the files, and agree to make all uploaded materials publicly accessible via Trailblazer under <a href="https://creativecommons.org/licenses/by/4.0/legalcode">CC BY 4.0</a></label>
                <button type="submit" class="btn-success btn-lg disabled">
                    <h3>Upload</h3>
                </button>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active"
                     role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                </div>
            </div>
            <div class="uploadform_user_message_wrapper">
                <div class="uploadform_user_message">
                    <h3>You files have been uploaded!</h3>
                    <h4>
                        Processing them could take a while. It is safe to leave this page now. <br>
                        Thank you for contributing to Trailblazer!
                    </h4>
                </div>
            </div>
            <table class="uploadform_file_list">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>
                            <a href="#" class="uploadform_remove_all_files" title="Remove all">
                                <img src="{% static 'assets/icons/trash-svgrepo-com.svg' %}" class="icon">
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- {% if all_files|length %}
                         {% for file in all_files %}
                         <tr>
                         <td class="filetype">{{file.content_type}}</td>
                         <td class="filename">{{file.name}}</td>
                         <td class="numeric">{{file.size|filesizeformat}}</td>
                         <td class="delete"><a href="#" class="uploadform_remove_file" title="remove this"><img src="/static/icons/trash-svgrepo-com.svg" class="icon"></a></td>
                         {% endfor %}
                         {% endif %} -->
                </tbody>
            </table>
        </div>

    </form>

        </div>
