{% load static %}

{% block content %}
<div class="container">
    <div class="table-wrapper">
        <table>
            <thead>
                <th></th>
                <th></th>
                <th>Processed by <br> (Processor/Standardizer)</th>
                <th>Obs <br> (lat/lon)</th>
                <th>Taken on</th>
            </thead>
            <tbody>
            {% for upload in data %}
                <tr>
                    <td>
                        <a href="/gallery/image?{{ upload.wcsid }}">
                            <img src="{% get_media_prefix %}{{ upload.smallthumb }}"  alt=”{{ upload.smallthumb }}”  style="vertical-align: middle;height: 100px;object-fit: cover;">
                        </a>
                    </td>
                    <td style="color: green;"> Success </td>
                    <td style="vertical-align: middle;">{{ upload.processor }} <br> {{ upload.standardizer }}</td>
                    <td style="vertical-align: middle;">{{ upload.obs_lat }} <br> {{ upload.obs_lon }}</td>
                    <td style="vertical-align: middle;">{{ upload.datetime }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
