{% extends "base.html" %}
{% load static %}


{% block query-nav-state%}active{% endblock %}


{% block head.extend %}
<link rel="stylesheet" href="{% static 'assets/css/query_table.css' %}" />
<script src="assets/js/myscripts.js"></script>
{% endblock %}


{% block content %}

<!-- Post -->
<section class="post">
		<header class="major">
				<h1>Web Query</h1>
				<p>Quickly find satellite-streaked images of interest.<br />
				</p>
		</header>
</section>

{% include "queryform.html" %}

{% include "query_table.html" %}

{% endblock %}
