{% extends "base.html" %}
{% load static %}


{% block query-nav-state%}active{% endblock %}


{% block head.extend %}
<style>
 table, th, td {
     border: 1px solid black;
 }
</style>
{% endblock %}


{% block content %}
<!-- Post -->
<section class="post">
		<header class="major">
				<h1>Query Tool</h1>
				<p>Query the metadata with FITS headers.<br />
						You can click the drag tag to filter data.<br />
						Now only the instrument filter works.</p>
		</header>
</section>

<form action="results" method="post">
    {% csrf_token %}
    {{ queryform }}
    <input type="submit" class="btn-primaryg" value="submit" >
</form>

{% if render_table %}
<h2>Results</h2>
<table style="width:100%">
    <tr>
        <th>Instrument</th>
        <th>Telescope</th>
        <th>Observation Start</th>
        <th>Duration [s]</th>
    </tr>
    {% for dat in data %}
    <tr>
        <td>{{ dat.instrument }}</td>
        <td>{{ dat.telescope }}</td>
        <td>{{ dat.datetime_begin }}</td>
        <td>{{ dat.exposure_duration }}</td>
    </tr>
	{% endfor %}
</table>
{% endif %}
{% endblock %}
