{% extends "base.html" %}
{% load static %}


{% block query-nav-state%}active{% endblock %}


{% block head.extend %}
<style>
 table, th, td {
     border: 1px solid black;
 }
</style>
{% endblock %}


{% block content %}

<!-- Post -->
<section class="post">
		<header class="major">
				<h1>Web Query</h1>
				<p>Quickly find satellite-streaked images of interest.<br />
                   A RESTful API query interface is coming soon!
				</p>
		</header>
</section>

{% include "queryform.html" %}

{% if show_table %}
{% load render_table from django_tables2 %}
{% render_table table %}

{% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
{% endif %}

<form action="download" method="get">
       <input type="submit" class="btn-primaryg" value="Download" >
</form>

{% endif %}
{% endblock %}