{% extends "base.html" %}

{% block page_header %}
<div class="container">
    <h1 class="display-1 text-center"> Trailblazer </h1>
     <div class="d-flex justify-content-center">
          <nav>
              <ul>
                  <a class="btn btn-outline-dark btn-lg" href="/gallery">Gallery</a>
                  <a class="btn btn-outline-dark btn-lg" href="/query">Query</a>
                  <a class="btn btn-outline-dark btn-lg" href="/upload">Upload</a>
              </ul>
          </nav>
    </div>
</div>
{% endblock %}


{% block page_content %}
{% endblock %}


{% block page_footer %}
{% endblock %}
